@font-face {
	font-family: PressStart2P;
	src: url(../fonts/PressStart2P.ttf);
}
*{
	font-family: PressStart2P;
	color:white;
}

body{
	background-color: black;
	text-align: center;
	font-size: 20px;
	margin-top:1%;

}
#game{
	margin-top:1%;
}
table {
	margin: auto;
	width: 30%;
	border-collapse: collapse;
}
th{
	padding:10px;
	font-weight:bold;
	color:white;
}
tbody{
	text-align:center;
}
td {
	height: 25%;
	width: 25%;
	color:white;
}
.wall {
	width: 50px;
	height: 50px;
	background-image: url('../images/wall.png');
	display: inline-block;
}
.coin {
	width: 50px;
	height: 50px;
	background-image: url('../images/coin.png');
	display: inline-block;
}
.ground {
	width: 50px;
	height: 50px;
	background-color: black;
	display: inline-block;
}
.powerPill {
	width: 50px;
	height: 50px;
	background-image: url('../images/powerpill.png');
	display: inline-block;
}
.vulnerableGhost {
	width: 50px;
	height: 50px;
	background-image: url('../images/ghost1.png');
	display: inline-block;
}
.leftTeleport , .rightTeleport {
	width: 50px;
	height: 50px;
	background-image: url('../images/bg.png');
	display: inline-block;
}
.ghostWall {
	width: 50px;
	height: 50px;
	background-image: url('../images/bg.png');
	display: inline-block;
}
div {
	line-height: 0px;
}

img{
	margin-top: 5%;
	width: 30%;
	height: 30%;
}
body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
button{
	margin-top:10%;
  background:#0400ce;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#151a64;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #151a64;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
ul{
	list-style-position: inside;
}
.gameOver{
	color:red;
	margin-top: 10%;
}
.winner{
	color:yellow;
	margin-top: 10%;
}
